/* css reset  */

* {
    margin: 0px;
    padding: 0px;
}

html{
    scroll-behavior: smooth;
}

:root {
    --navbar-height: 60px;
}

/* navbar section */

#navbar {
    display: flex;
    align-items: center;
    position: sticky;
    top: 0px;
    height: 80px;
}

#logo {
    margin: 10px 10px;
}

#logo img {
    width: 70px;
    margin: 5px 5px;
}

#navbar ul {
    display: flex;
}

#navbar::before {
    content: "";
    background-color: black;
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 0.7;
}

#navbar ul li {
    list-style: none;
}

#navbar ul li a {
    text-decoration: none;
    display: block;
    padding: 10px 15px;
    border-radius: 10px;
    color: white;
    font-size: 20px;
}

#navbar ul li a:hover {
    background-color: white;
    color: black;
    font-family: 'Mukta', sans-serif;
}

/* Home section */

#home {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px 200px;
    height: 450px;
}

#home::before {
    content: "";
    position: absolute;
    top: 0px;
    left: 0px;
    background: url('../img/xx.jpg')no-repeat center center/cover;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 0.6;
}

#home h1 {
    color: white;
    text-align: center;
    font-family: 'Oswald', sans-serif;
}

#home p {
    color: white;
    text-align: center;
    font-size: 1.5rem;
    font-family: 'Oswald', sans-serif;
}

/* services section  */

#services {
    display: flex;
    margin: 0px;
}

#services .box {
    border: 2px solid brown;
    margin: 40px 40px;
    padding: 25px;
    border-radius: 20px;
    background-color: whitesmoke;
}

#services .box img {
    display: block;
    margin: auto;
    height: 160px;
}

#services .box p {
    font-family: 'Oswald', sans-serif;
    text-align: center;
}

/* clients section */

#client-section {
    position: relative;
}

#client-section::before {
    content: "";
    position: absolute;
    background: url('../img/ss.jpg');
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 0.4;
}

#clients {
    display: flex;
    justify-content: center;
    align-items: center;
}

.client-item{
    padding: 15px;
}

#clients img{
    height: 100px;
    padding: 20px 20px;
}

/* contact section  */

#contact{
    position: relative;
}

#contact::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.4;
    background: url('../img/contact.jpg');
}

#contact-box{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 34px;
}

#contact-box input,
#contact-box textarea{
    width: 100%;
    padding: 0.5rem;
    border-radius: 10px;
    font-size: 1rem;
}

#contact-box label{
    font-size: 1.5rem;
    font-family: 'Oswald', sans-serif;
}

#contact-box form{
    width: 40%;
}

footer{
    background-color: black;
    color: white;
    padding: 5px 23px;
}

/* utility classes */

.h-primary {
    font-size: 3.8rem;
    padding: 12px;
    font-family: 'Oswald', sans-serif;
}

.h-secondary {
    font-size: 1.8rem;
    padding: 12px;
    font-family: 'Oswald', sans-serif;
}

.btn {
    padding: 3px 30px;
    border: 2px solid white;
    border-radius: 10px;
    background-color: gray;
    color: white;
    margin: 20px;
    font-size: 1.3rem;
    cursor: pointer;
}

.center {
    text-align: center;
}